body{
    background: url(img/fondo.jpg);
    background-size: 100%;
}
.container{
    text-align: center;
    background-color: white;
}
footer{
    width: 1200px;
    height: 500;
    background-color: black;
    margin: 0px auto;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#ffoo{
    width: 1200px;
    height: 500;
    background-color: black;
    margin: 0px auto;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#colorf{
    background-color: white;
}